<div class="row">
  <div class="col-lg-12 text-center">
    <h1>Cópia de segurança</h1>
    <hr>
  </div>
</div>

<div class="row">
  <div class="col-lg-12 text-center">
    <h4>Baixe aqui a cópia de segurança de toda a sua conta.</h4>
    <h5>Importante lembrar que para sua segurança esta cópia de segurança estará criptografada e precisará da sua senha para ser utilizada. <strong style="color: #FF0000">Não se esqueça nunca da sua senha,</strong> nem que você tenha de anotar ela em um pedaço de papel e guardar ele.</h5>
  </div>
</div>

<div class="row text-center">
  <div class="col-lg-12">
    <h2>Cópia de segurança</h2>
    <a href="#/backup/download" class="btn btn-lg btn-primary" onclick="#"><i class="fa fa-download"></i> Download</a>
  </div>
</div>