<div class="row">
  <div class="col-lg-12 text-center">
    <h1>Configurações</h1>
    <hr>
  </div>
</div>

<div class="row">
  <div class="col-lg-8 col-lg-offset-2">
    <h3 style="color: #E00000" class="text-center">IMPORTANTE</h3>
    <h4>VOCÊ ESTÁ PRÓXIMO A TROCAR A SUA SENHA, e ela NÃO SERÁ ENVIADA para os nosso servidores,
      isso é feito para sua própria segurança, para evitar que algum hacker invada o servidor e 
      roube suas dilmas, mas também isso significa que <strong>se você esquecer a sua senha você irá PERDER 
      TODAS AS SUAS DILMAS PARA SEMPRE</strong>. Anote elas bem anotadas, e <strong>NÃO SE ESQUEÇA DELA.</strong>
     </h4>


    <h4>Também importante lembrar que os nossos servidores são visados por hackers reacionários que desejam
     destruir todas as carteiras da dilma.  Então, é importante que você sempre faça uma
      <a href="#/backup">cópia de segurança da sua carteira </a>, sempre antes de mecher nela.
    </h4>
  </div>
</div>

<div class="row">
  <div class="col-lg-6 col-lg-offset-3 text-center">
    <div id="changeDialog" class="alert hidden">
      <span id="changeMessage"></span>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-4 col-lg-offset-2 text-center">
    <h3>Alterar email</h3>

    <form role="form" onsubmit="coinpunk.controllers.accounts.changeId(); return false;">
      <div class="form-group">
        <label for="email">Novo endereço de email</label>
        <input type="email" class="form-control" id="changeEmailNew" placeholder="Seu novo email">

        <label for="password">Confirme sua senha</label>
        <input type="password" class="form-control" id="changeEmailPassword" placeholder="Sua senha atual" autocomplete="off">
      </div>
      <button type="submit" class="btn btn-primary">Alterar email</button>
    </form>
  </div>
  <div class="col-lg-4 text-center">
    <h3>Alterar senha</h3>

    <form role="form" onsubmit="coinpunk.controllers.accounts.changePassword(); return false;">
      <div class="form-group">
        <label for="currentPassword">Senha atual</label>
        <input type="password" class="form-control" id="currentPassword" placeholder="Senha atual" autocomplete="off">
      </div>

      <div class="form-group">
        <label for="newPassword">Nova senha</label>
        <input type="password" class="form-control" id="newPassword" placeholder="Nova senha" autocomplete="off">
      </div>

      <div class="form-group">
        <label for="confirmNewPassword">Repita a nova senha</label>
        <input type="password" class="form-control" id="confirmNewPassword" placeholder="Entre novamente com a nova senha" autocomplete="off">
      </div>
      <button type="submit" class="btn btn-primary">Alterar senha</button>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-lg-4 col-lg-offset-2" id="authKey">
    <h3 class="text-center">Autenticação em 2 passos</h3>
    <% if(coinpunk.usingAuthKey == true) { %>
      <p>Você está utilizando a autenticação em 2 passos. Para disabilitar ela, entre com o seu código de antenticação abaixo que nós iremos remover:</p>

      <div id="disableAuthDialog" class="alert hidden">
      </div>

      <form id="disableAuth" role="form">
        <div class="form-group">
          <label for="authCode">Entre com o código para desabilitar</label>
          <input class="form-control" type="password" id="disableAuthCode" autocomplete="off">
        </div>
        <button type="submit" class="btn btn-danger">Desabilitar</button>
      </form>
    <% } else { %>
      <p>A autenticação em 2 passos aumenta a segurança da sua conta exigindo que você além da sua senha, também digite um código no seu telefone.
        A carteira da Dilma utiliza um aplicativo chamado Google Authenticator, que você irá precisar baixar no seu celular para então ativar este recurso.
      </p>

      <a class="btn btn-primary" id="generateAuthQR">Gerar um código QR</a>
    <% } %>
  </div>
</div>

