<div class="row">
  <div class="col-lg-8 col-lg-offset-2">
    <h1 class="text-center">Detalhes da transação</h1>
    <table class="table table-bordered table-striped table-hover">
      <tbody>
        <tr>
          <td>ID da transação (TXID)</td>
          <td><%- data.tx.hash %></td>
        </tr>
        <tr>
          <td>Valor</td>
          <td><%- Math.abs(data.tx.amount).toFixed(8).replace(/\.?[0]+$/, "") %> HUE</td>
        </tr>
        <tr>
          <td>Taxa</td>
          <td><%- data.tx.fee ? Math.abs(data.tx.fee)+' HUE' : '' %></td>
        </tr>
        <tr>
          <td>Confirmações</td>
          <td>
            <%- data.tx.confirmations %>&nbsp;&nbsp;&nbsp;&nbsp;
            <% if(data.tx.confirmations == 0) { %>              
              <span class="label label-warning" rel="tooltip" data-toggle="tooltip" title="Transação ainda não teve nenhuma confirmação da rede.">Pendente (Não confirmado)</span>
            <% } else if(data.tx.confirmations < coinpunk.controllers.dashboard.minimumStrongSendConfirmations) { %>
              <span class="label label-info" rel="tooltip" data-toggle="tooltip" title="Transação tem ao menos uma confirmação, para ela ser considerada definitiva serão necessários ao menos 6 confirmações.">Praticamento Confirmado</span>
            <% } else { %>
              <span class="label label-success" rel="tooltip" data-toggle="tooltip" title="Transação já tem ao menos 6 confirmações.">Confirmado</span>
            <% } %>
          </td>
        </tr>
        <tr>
          <td>Blockhash</td>
          <td><%- data.tx.blockhash %></td>
        </tr>
        <tr>
          <td>Blockindex</td>
          <td><%- data.tx.blockindex %></td>
        </tr>
        <tr>
          <td>Horário do block</td>
          <td>
            <% if(data.tx.blocktime) { %>
              <%- coinpunk.controllers.tx.friendlyTimeString(data.tx.blocktime*1000) %>
            <% } %>
          </td>
        </tr>
        <tr>
          <td>Horário</td>
          <td><%- coinpunk.controllers.tx.friendlyTimeString(data.tx.time*1000) %></td>
        </tr>
    </table>
    
    <div class="text-center">
      <a href="#/dashboard" class="btn btn-lg btn-primary"><i class="fa fa-arrow-left"></i> Voltar<a>
    </div>
  </div>
</div>
